@import "tailwindcss";

/* ====== Root Variables ====== */
:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --card-background: #1e1e1e;
  --card-border: #353535;
  --shadow-hover: #00000033;
  --card-bg-hover: #ffffff14;
  --sidebar-r-border: #ffffff1a;
  --search-bg: #ffffff26;
  --menu-bd: #353535;
}

/* ====== Light Theme Overrides ====== */
[data-theme="light"] {
  --background: #ffffff;
  --surface: #ffffff;
  --on-background: #333333;
  --card-background: #0000000d;
  --card-border: #0000001a;
  --shadow-hover: #00000033;
  --card-bg-hover: #ffffff14;
  --sidebar-r-border: #0000001a;
  --search-bg: #00000026;
  --menu-bd: #e0e0e0;
}

/* ====== FAB (Floating Action Button) Styling ====== */

 
 /* .fab {
   width: 56px;
   height: 56px;
   border-radius: 12px;
   background-color: var(--primary);
   color: var(--surface);
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   transition: transform 0.2s ease, background-color 0.2s ease;
 }
 
 .fab:hover {
   transform: scale(1.05);
   background-color: #c994ff;
 } */
 
